<form id="burger-form" action="/api/addone" method="post">
  <div class="form-group">
    <label class="col-form-label col-form-label-lg" for="new_burger">
      Add A New Burger
    </label>
    <input
      class="form-control form-control-lg"
      type="text"
      placeholder="<Your Burger‘s Name> Burger"
      id="new_burger"
      name="new_burger"
      required
      title="Must be at least one word of 3 or more letters"
    />
    <div class="" id="error-message"></div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary btn-block">
      Add New Burger
    </button>
  </div>
</form>
<div class="d-flex justify-content-between row">
  <div class="col-sm-6 my-3">
    <h2>
      Uneaten
    </h2>
    <ul id="uneaten-list" class="list-group">
      {{#each burgers}}
        {{#if devoured}}

        {{else}}
          <li class="list-group-item d-flex justify-content-between align-items-center">
            {{burger_name}}
            Burger
            <button
              class="btn btn-outline-primary badge badge-outline-danger badge-pill"
              data-devoured="true"
              data-id="{{id}}"
            >
              Devour
          Burger
            </button>
          </li>
        {{/if}}
      {{/each}}
    </ul>
  </div>
  <div class="col-sm-6 my-3">
    <h2>
      Devoured
    </h2>
    <ul id="eaten-list" class="list-group">
      {{#each burgers}}
        {{#if devoured}}
          <li class="list-group-item d-flex justify-content-between align-items-center">
            {{burger_name}}
            Burger
            <button
              class="btn btn-outline-primary badge badge-outline-danger badge-pill"
              data-devoured="false"
              data-id="{{id}}"
            >
              Barf Burger
            </button>
          </li>
        {{/if}}
      {{/each}}
    </ul>
  </div>
</div>